# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
build/

# Artifacts
*.ipa
*.dSYM.zip

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Ruby
.bundle/
vendor/bundle/

# Secrets
.env
AuthKey_*.p8
